{{!-- partials/banners/home-mid.hbs --}}
<section class="px-5 sm:px-6 mt-6" data-banner="home-mid">
  <div class="max-w-site mx-auto">
    <a href="/hexa">
      <picture>
        <source media="(min-width: 640px)" srcset="https://storage.ghost.io/c/7e/3a/7e3ad6d5-d95b-441b-a694-25e84bd0cefa/content/images/2026/06/banner-1220-250-1.png">
        <img
          src="https://storage.ghost.io/c/7e/3a/7e3ad6d5-d95b-441b-a694-25e84bd0cefa/content/images/2026/06/22.png"
          alt="Assine a Matinal"
          class="w-full rounded-xl"
        >
      </picture>
    </a>
  </div>
</section>
