{{!-- partials/banners/home-mid.hbs --}}
<section class="px-5 sm:px-6 mt-6" data-banner="home-mid">
  <div class="max-w-site mx-auto">
    <a href="/assine">
      <picture>
        <source media="(min-width: 640px)" srcset="https://www.matinal.org/content/images/size/w1000/2026/04/anuncio-4-1-1.png">
        <img
          src="https://www.matinal.org/content/images/2026/04/anuncio-3-2-1.png"
          alt="Assine a Matinal"
          class="w-full rounded-xl"
        >
      </picture>
    </a>
  </div>
</section>
