{{!-- partial: sections/5-posts-destaque-agenda --}}
<section class="px-5 sm:px-6 mt-20 mb-20" data-topic="destaques-da-agenda" data-layout-alt>
  <div class="max-w-site mx-auto">

    {{!-- Cabeçalho --}}
    <div class="flex items-end mb-6" data-section-head="">
      <h2 class="text-2xl md:text-3xl lg:text-4xl font-[calc(var(--font-weight-headings)_+_100)]! leading-none -mb-1">
        Destaques da agenda
      </h2>
      <span class="flex-1 border-b-3 border-brd ml-3"></span>
      <a href="/agenda" class="group uppercase font-sans text-xs sm:text-sm font-semibold flex items-center gap-0.5 bg-brd px-2.5 pl-4 py-1.5 text-bgr hover:bg-brand hover:text-brand-contrast">
        <span>Confira a agenda completa</span>
        <i class="icon icon-chevron-right size-4 stroke-3" role="presentation">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M9 6l6 6l-6 6"/>
          </svg>
        </i>
      </a>
    </div>

    {{!-- GET dos posts --}}
    {{#get "posts"
      filter="primary_tag:cultura+tag:destaques-da-agenda"
      include="tags,authors,tiers"
      limit="5"
      order="published_at desc"
    }}
      {{#if posts}}
        <div class="grid gap-5 sm:grid-cols-2 lg:grid-cols-4">

          {{!-- Coluna esquerda --}}
          <div class="flex flex-col gap-5 pb-5 border-b border-brd-soft sm:pb-0 sm:border-b-0 sm:pr-5 sm:border-r">
            {{#foreach posts from="2" to="2"}}
              {{> cards/post-card-vertical excerpt_class="hidden"}}
            {{/foreach}}
            {{#foreach posts from="3" to="3"}}
              {{> cards/post-card-vertical card_class="border-t border-brd-soft pt-5" excerpt_class="hidden"}}
            {{/foreach}}
          </div>

          {{!-- Post central principal --}}
          <div class="sm:col-span-2 pb-5 border-b border-brd-soft lg:pb-0 lg:border-b-0 lg:px-5 lg:border-r">
            {{#foreach posts from="1" to="1"}}
              {{> cards/post-card-vertical
                card_class="[&_[data-post-card-type]]:lg:scale-110"
                title_class="lg:text-3xl"
                excerpt_class="md:text-lg"
              }}
            {{/foreach}}
          </div>

          {{!-- Coluna direita --}}
          <div class="flex flex-col gap-5">
            {{#foreach posts from="4" to="4"}}
              {{> cards/post-card-vertical excerpt_class="hidden"}}
            {{/foreach}}
            {{#foreach posts from="5" to="5"}}
              {{> cards/post-card-vertical card_class="border-t border-brd-soft pt-5" excerpt_class="hidden"}}
            {{/foreach}}
          </div>

        </div>
      {{else}}
        <p class="text-sm text-typ-tone mt-4">Nenhum destaque encontrado.</p>
      {{/if}}
    {{/get}}

  </div>
</section>
